.title {
  color: #ff5733; /* Couleur désirée */
  text-align: center;
  margin-bottom: 1.5rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Espacement entre les cartes */
}

.card {
  width: 60%; /* Largeur fixe du conteneur de l'image */
  height: 25rem; /* Hauteur fixe du conteneur */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid #333;
  border-radius: 8px;
  position: relative;
}

.cardTitle {
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.cardFooter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.image {
  width: 90%; /* S'ajuste à la largeur du conteneur */
  height: calc(25rem - 4.5rem); /* Ajuste la hauteur pour éviter de dépasser la hauteur du conteneur total */

}
