
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e8d3d3; 
  color: #f4f0f0 !important; 
}

h3 {
  color: #dcdcdc;
}

.app-container {
  display: flex;
  height: 100vh; 
}

.file-tree {
  background-color: #252526; 
  padding: 10px;
  width: 400px; 
  overflow-y: auto; 
}

.file-tree-item {
  margin-bottom: 5px;
  padding: 0px 0px;
  border-radius: 3px;
}

.file-tree-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-tree-item:hover {
  background-color: #333333; 
}

.folder span, .file span {
  flex-grow: 1; 
  margin-left: 10px;
  color: #ffffff; 
}

.icon-button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: #d4d4d4; 
}

.icon-button:hover {
  color: #569cd6; 
}

.editor-preview-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #1e1e1e;
  overflow-y: auto; /* Scrollable content */
}

.markdown-editor {
  width: 100%;
  height: 500px;
  padding: 10px;
  border: 1px solid #3c3c3c; 
  border-radius: 4px;
  background-color: #1e1e1e; 
  color: #d4d4d4; 
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
  resize: both;
  overflow: auto; /* Allow content to scroll */
}

.save-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #005a9e; 
}

.preview-container {
  padding: 20px;
  background-color: #252526; 
  border-radius: 4px;
  margin-top: 20px;
}

.markdown-preview {
  border: 1px solid #3c3c3c;
  padding: 20px;
  background-color: #1e1e1e;
  color: #d4d4d4;
  border-radius: 4px;
  max-height: 500px;
  overflow-y: auto;
}

.markdown-preview h1, .markdown-preview h2, .markdown-preview h3 {
  color: #569cd6; 
}

.markdown-preview p {
  margin-bottom: 1em;
}

.markdown-preview code {
  background-color: pink;
  color: #dcdcaa;
  padding: 2px 4px;
  border-radius: 3px;
}

.markdown-preview pre {
  background-color: #1e1e1e;
  color: #dcdcaa;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}


.icon-button {
  margin-top: 0px;
  padding: 0px;
  cursor: pointer;
}

.import-button {
  color: #d4d4d4;
  cursor: pointer;
}

.import-button:hover {
  color: #569cd6;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #252526;
}

::-webkit-scrollbar-thumb {
  background: #3c3c3c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4e4e4e;
}

.image-preview {
  padding: 5px;         
  border-radius: 8px;     
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  width: 40%;
  height: 60%;
}