/* App.css */

/* General Settings */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e1e; /* VS Code dark background */
  color: #d4d4d4; /* Light text color */
}

h3 {
  color: #dcdcdc;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Full viewport height */
}

.file-tree {
  width: 300px; /* Fixed width for the file tree */
  overflow-y: auto;
}

.editor-preview-container {
  flex: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 70%;
}

.markdown-editor {
  width: 100%; /* Full width of its container */
  height: 500px; /* Set a specific height */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
  resize: both; /* Allow users to resize both width and height */
}

.save-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #0056b3;
}

.markdown-preview {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Georgia', serif;
  font-size: 16px;
  line-height: 1.6;
  box-sizing: border-box;
  background-color: #f9f9f9;
  overflow-y: auto;
}
